.mission {
	-fx-background-image: url('../../src/images/mission_background.png');
	-fx-background-size: 100% 100%;
}
.gameplay {
	-fx-background-image: url('../../src/images/gameplay_ground.png');
	-fx-background-size: 5.8823% 5.8823%;
}
.outer_gameplay {
	-fx-background-color: linear-gradient(to bottom, #59adf5, #57adf5);
}
.guide_scene {
	-fx-background-image: url('../../src/images/menu/BackGround.jpg');
	-fx-background-size: 100% 100%;
}